{{ "section-footer-simple.css" | asset_url | stylesheet_tag }}
<div class="main-footer">
    <div id="footer-top">
        <div id="footer-heading">
            <h2>{{ section.settings.footer-heading }}</h2>
            <div class="container">
                {%- for block in section.blocks -%}
                {%- if block.type == "footer-menu" -%}
                    <div class="menu-item" {{ block.shopify_attributes }}>
                        <ul>
                            {%- if block.settings.text != blank -%}
                            {%- for link in block.settings.text.links -%}
                              <li><a href="{{ link.url }}" target="_blank">- {{ link.title }}</a></li>
                            {%- endfor -%}
                            {%- endif -%}
                        </ul>
                    </div>
                {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
        <div id="icons-footer">
            <a href="{{ section.settings.social_facebook_link }}">  <img src="assets/facebook.png" height="50px" width="50px">   </a>
            <a href="{{ section.settings.social_twitter_link }}">   <img src="assets/twitter.png" height="50px" width="50px">    </a>
            <a href="{{ section.settings.social_instagram_link }}"> <img src="assets/instagram.png" height="50px" width="50px">  </a>
        </div>
    </div>
    <div id="footer-bottom">
        <div id="footer-bottom-content">
            <p>*These Statement have not been evaluated by the Food and Drug Administration <br>
                This product is not intendent to diagnose, treat, cure or prevent any disease</p>
        </div>
        
        <div id="payment-icon">
          <img src="assets/paypal-logo.png" height="40px" width="40px">
          <img src="assets/symbols.png" height="40px" width="40px">
          <img src="assets/amazon-pay.png" height="40px" width="40px">
          <img src="assets/phone.png" height="40px" width="40px">
          <div id="privacy">
            <a href="{{ shop.privacy_policy.url }}">   <h3 style="margin-top: 10px;">PRIVACY POLICY</h3> </a>
            <a href="{{ shop.terms_of_service.url }}"> <h3>TERMS AND CONDITIONS</h3> </a>
          </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Footer Simple",
  "settings": [
    {
      "type": "text",
      "id": "footer-heading",
      "label": "Footer Heading",
      "default": "Shop"
    }
  ],
  "blocks": [
    {
      "type": "footer-menu",
      "name": "Footer Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "text",
          "label": "Select Menu",
          "default": "footer",
          "info": "Displays only top level menu items"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "footer-menu"
      }
    ]
  }
}
{% endschema %}