{{ "section-homepage-ingredients.css" | asset_url | stylesheet_tag }}

<div class="row page-width">
  
  <h1 style="text-align: center;">{{ section.settings.section-heading }}</h1>
  
  <!-- <div id="ingredient-row"> 
    {% for block in section.blocks %}
    {%- if block.type == "hp-ingredient" -%}
      <div class="column_hompage_ingredients" {{ block.shopify_attributes }}>
        <div class="list-ingredients">
          <div class="list-content-ingredients"> 
             
              {%- if block.settings.ingredient-image -%}
              {{ block.settings.ingredient-image | img_url | img_tag }}
            	{%- else -%}
            	  {{ "image" | placeholder_svg_tag }}
            	{%- endif -%}
            

            <div>
              <h1 class="upk-featured-list-title-ingredients">{{ block.settings.heading }}</h1>
              <div style="margin-top: 10px;">{{ block.settings.ingredient-details }}</div>
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
 		{% endfor %}
  </div> -->

</div>


{% schema %}
{
	"name": "Homepage Ingredients",
	"tag": "section",
	"class": "spaced-section",
	"settings": [
		{
			"type": "text",
			"id": "section-heading",
			"label": "Section Heading",
			"default": "Section Heading Here"
		},
		{
			"type": "text",
			"id": "button-text",
			"label": "Button Text",
			"default": "Button Text"
		},
		{
			"type": "url",
			"id": "button-link",
			"label": "Button Link"
		}
	],
	"blocks": [{
		"type": "hp-ingredient",
		"name": "Ingredient",
		"settings": [{
				"type": "text",
				"id": "heading",
				"label": "Ingredient Name",
				"default": "Ingredient Name"
			},
			{
				"type": "text",
				"id": "ingredient-details",
				"label": "Ingredient Details",
				"default": "Ingredient Details"
			},
			{
				"type": "image_picker",
				"id": "ingredient-image",
				"label": "Ingredient Image"
			}
		]
	}]
}
{% endschema %}