{{ "section-homepage-ingredients.css" | asset_url | stylesheet_tag }}


  <div class="main">  
    <div style="width: 80%; margin: 50px; padding-left: 110px;" class="list">
        <h1 style="text-align: center; font-size: 50px;font-weight: 900;">Wellness in a Can. Yes it's that easy</h1>
        <div style="float: left; width: 50%;">
            <ul>
                <li><span> <img src="{{ 'placeholder.png' | asset_img_url: '50X'}}" > <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> </span></li>
                <li><span> <img src="{{ 'placeholder.png' | asset_img_url: '50X'}}"><p> Dolorem delectus modi nemo fugit voluptatibus, rerum do </p></span> </li>
                <li><span> <img src="{{ 'placeholder.png' | asset_img_url: '50X'}}" ><p> loribus tempora porro error optio commodi autem debitis </p></span></li>
                <li><span> <img src="{{ 'placeholder.png' | asset_img_url: '50X'}}" ><p> deleniti ad exercitationem doloremque saepe veniam dolores?</p> </span></li>
                <li><span> <img src="{{ 'placeholder.png' | asset_img_url: '50X'}}" ><p> deleniti ad exercitationem doloremque saepe veniam dolores? </p></span></li>
            </ul>
            </div>
                <div style="float: right; width: 50%;">
                <ul>
                <li><span> <img src="{{ 'placeholder.png' | asset_img_url: '50X'}}"> <p>deleniti ad exercitationem doloremque saepe veniam dolores?</p>  </span></li>
                <li><span> <img src="{{ 'placeholder.png' | asset_img_url: '50X'}}" ><p> loribus tempora porro error optio commodi autem debitis </p></span></li>
                <li><span> <img src="{{ 'placeholder.png' | asset_img_url: '50X'}}" > <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p></span></li>
                <li> <span> <img src="{{ 'placeholder.png' | asset_img_url: '50X'}}" > <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p></span></li>
                <li><span> <img src="{{ 'placeholder.png' | asset_img_url: '50X'}}" > <p>deleniti ad exercitationem doloremque saepe veniam dolores?</p>  </span></li>

                </ul>
        </div>
    </div>
    

 </div> 
 <button class="btningredient"> <i style="font-size:20px;">&nbsp;Shop Now</i></button>

 {% schema %}
{
    
}
{% endschema %}